BodyRelight/*
!BodyRelight/app/
BodyRelight/app/*
!BodyRelight/app/relight.py
!BodyRelight/lib/
BodyRelight/lib/*
!BodyRelight/lib/model
!BodyRelight/eval/
!BodyRelight/datas/
BodyRelight/datas/*
!BodyRelight/datas/LIGHT/
MODNet/*
!MODNet/app/
!MODNet/src/
!MODNet/pretrained/
!MODNet/input/
__pycache__/
.git